<div class="card acc-card p-3 border-0">
  <ul class="list-unstyled">
    <li class="ft-norms mb-3">
      <a
        class="ft-norms text-left side-link"
        routerLinkActive="active-link"
        routerLink="/account"
        >Account Dashboard</a
      >
    </li>
    <li class="ft-norms mb-3">
      <a
        class="ft-norms text-left side-link"
        routerLinkActive="active-link"
        routerLink="/change-password"
        >Change Password</a
      >
    </li>
    <li class="ft-norms mb-3">
      <a
        class="ft-norms text-left side-link"
        routerLinkActive="active-link"
        routerLink="/orders"
        >My Orders</a
      >
    </li>
    <li class="ft-norms mb-3">
      <a
        class="ft-norms text-left side-link"
        routerLinkActive="active-link"
        routerLink="/wishlist"
        >My Wish List</a
      >
    </li>
    <!-- <li class="ft-norms">
      <a class="ft-norms text-left side-link" routerLinkActive="active-link"
        >Messaging</a
      >
    </li> -->
  </ul>
</div>
