<app-loader *ngIf="isPageLoading"></app-loader>
<section>
  <div class="container">
    <img
      src="../../../assets/images/anniversary.svg"
      alt="advert"
      class="mt-1 w-100"
    />

    <!-- BREADCRUM STARTS HERE -->
    <div class="col-12 mt-2 p-0">
      <section class="d-none d-md-block" *ngIf="carts?.length > 0">
        <div class="breadcrumbs">
          <div class="row">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                <li class="breadcrumb-item active">
                  <a routerLink="/cart">Shopping Cart</a>
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </section>
    </div>
    <!-- BREADCRUM ENDS HERE -->
  </div>
</section>
<section *ngIf="carts?.length > 0 && !isPageLoading">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="ft-norms feat mb-3">
          Your Shopping Cart ({{ carts?.length }})
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 mb-3">
        <div class="row d-none d-lg-flex">
          <div class="col-6 text-left">
            <p class="mb-0 ft-norms cart-head">Item</p>
          </div>
          <div class="col-2 text-left">
            <p class="mb-0 ft-norms cart-head">Qty</p>
          </div>
          <div class="col-3 text-left ml-3">
            <p class="mb-0 ft-norms cart-head">Subtotal</p>
          </div>
          <div class="col-1"></div>
        </div>
        <hr class="line mt-2 mb-2" />
        <div *ngFor="let product of carts; let i = index">
          <div class="row py-2">
            <div class="col-11">
              <div class="row">
                <div class="col-md-2 mb-2">
                  <img
                    *ngIf="product?.image"
                    [src]="product?.image"
                    [alt]="product?.product_name"
                    class="img-fluid"
                  />
                  <img
                    *ngIf="!product?.image"
                    src="../../../assets/images/no-image.jpg"
                    [alt]="product?.product_name"
                    class="img-fluid"
                  />
                </div>
                <div class="col-md-4 mb-2">
                  <p class="ft-norms view-price mb-1">
                    {{ product?.unit_price | currency: "₵" }}
                  </p>
                  <p class="ft-norms mb-0 name text-capitalize">
                    {{ product?.product_name }}
                  </p>
                  <p class="ft-norms pro-link-3 mb-0">
                    {{ product?.brand }}
                  </p>
                </div>
                <!-- <div class="col-md-2"></div> -->
                <div class="col-md-3">
                  <div class="row">
                    <div class="pr-0 col-4 align-self-center">
                      <button
                        [disabled]="product.quantity <= 1"
                        class="increment-decrement bg-light btn-block border-0"
                        (click)="
                          product.quantity_ordered =
                            product.quantity_ordered - 1;
                          reduceCartProductCount(product)
                        "
                      >
                        -
                      </button>
                    </div>
                    <div class="col-4 px-0">
                      <input
                        type="text"
                        class="text-center increment-decrement-input w-100"
                        min="1"
                        disabled
                        [(ngModel)]="product.quantity_ordered"
                        [value]="product.quantity_ordered"
                      />
                    </div>
                    <div class="pl-0 col-4 align-self-center">
                      <button
                        class="increment-decrement bg-light btn-block border-0"
                        (click)="
                          product.quantity_ordered =
                            product.quantity_ordered + 1;
                          increaseCartProductCount(product)
                        "
                      >
                        +
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <p class="ft-norms cart-head mb-3 d-lg-none">Subtotal</p>

                  <p class="total-price ft-norms font-weight-bold">
                    {{
                      convert(product?.unit_price) * product?.quantity_ordered
                        | currency: "₵"
                    }}
                  </p>
                </div>
              </div>
            </div>
            <div class="col-1">
              <img
                (click)="assignAsSelectedProduct(product, i)"
                src="../../../assets/images/Group 108.svg"
                alt="close"
                class="pointer"
                data-target="#cartModal"
                data-toggle="modal"
              />
            </div>
          </div>
          <hr class="line mt-2 mb-2" />
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card summary-card p-3">
          <p class="text-left summ mb-4 ft-norms">Summary</p>
          <div class="d-flex justify-content-between">
            <p class="total-price font-weight-bold">Subtotal</p>
            <p class="total-price font-weight-bold">
              {{ cartTotal | currency: "₵" }}
            </p>
          </div>
          <div class="d-flex justify-content-between">
            <p class="total-price font-weight-bold">Shipping</p>
            <p class="total-price font-weight-bold">
              {{ deliveryFee | currency: "₵" }}
            </p>
          </div>
          <!-- <div class="col-9 px-0">
            <p class="text-lef f-14 pro-link-4 ft-norms">
              (Standard Rate - Price may vary depending on the item/destination.
              Shop Staff will contact you.)
            </p>
          </div> -->
          <!-- <div class="d-flex justify-content-between">
            <p class="total-price font-weight-bold">VAT</p>
            <p class="total-price font-weight-bold">1.75%</p>
          </div> -->
          <hr class="line mt-3 mb-3" />
          <div class="d-flex justify-content-between">
            <p class="total-price font-weight-bold">Order Total</p>
            <p class="total-price font-weight-bold">
              {{ convert(cartTotal) + deliveryFee | currency: "₵" }}
            </p>
          </div>
          <!-- <p class="total-price font-weight-bold mb-1">Standard Rate</p>
          <div class="form-check mb-1">
            <input
              class="form-check-input"
              type="radio"
              name="exampleRadios"
              id="exampleRadios1"
              value="option1"
              checked
            />
            <label
              class="form-check-label pro-link-4 f-14"
              for="exampleRadios1"
            >
              Price may vary depending on the item/destination. Shop Staff will
              contact you. {{ 21 | currency: "₵" }}
            </label>
          </div>
          <p class="total-price font-weight-bold mb-1">Pickup from store</p>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="exampleRadios"
              id="exampleRadios1"
              value="option1"
              checked
            />
            <label
              class="form-check-label f-14 pro-link-4"
              for="exampleRadios1"
            >
              Product store address {{ 0 | currency: "₵" }}
            </label>
          </div> -->
          <button class="trans-btn btn ft-norms btn-block mt-5" routerLink="/">
            Continue Shopping
          </button>

          <button
            class="green-btn btn ft-norms btn-block mt-2"
            (click)="checkoutProduct()"
          >
            Proceed to Checkout
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<section *ngIf="(carts?.length === 0 || carts === null) && !isPageLoading">
  <div class="container">
    <div class="row py-5">
      <div class="col-md-8 offset-md-2">
        <div class="card p-3 border-0 text-center">
          <h3 class="font-weight-bold mb-2">Your Shopping Cart</h3>
          <p class="mb-2 ft-norms">
            You currently do not have any product in your shopping cart
          </p>

          <div class="row mt-3">
            <div class="col-md-6 offset-md-3">
              <button class="btn green-btn btn-block ft-norms" routerLink="/">
                Continue Shopping
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="my-5" *ngIf="relatedProducts?.length > 0">
  <app-related-products
    [similarProductsText]="similarProducts"
    [relatedProducts]="relatedProducts"
  ></app-related-products>
</div>

<button
  class="d-none"
  data-target="#loginModalCenter"
  data-toggle="modal"
  id="openLoginModal"
></button>

<!-- login Modal -->
<div
  class="modal fade"
  id="loginModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-note-2">
    <div class="modal-content modal-login">
      <div class="card">
        <div class="modal-header mb-2 d-block text-center">
          <h4 class="font-weight-bold drop-head mb-0">
            Log in with social account
          </h4>
          <button
            type="button"
            class="close modal-close"
            id="loginModalCloseBtn"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!-- <hr class="line" /> -->
        <div class="p-4">
          <!-- <div class="row mb-3 px-5">
            <div class="col-6 pr-0">
              <button
                (click)="selectActiveBtn(true)"
                [ngClass]="{ 'active-btn': activeBtn === true }"
                class="trans-btn-2 customer-btn btn f-14 ft-norms btn-block"
              >
                Customer
              </button>
            </div>
            <div class="col-6 pl-0">
              <button
                class="vendor-btn customer-alt btn f-14 ft-norms btn-block"
                (click)="selectActiveBtn(false)"
                [ngClass]="{ 'active-btn': activeBtn === false }"
              >
                Vendor
              </button>
            </div>
          </div> -->
          <div class="row">
            <div class="col-12">
              <button
                class="trans-btn btn btn ft-norms btn-block"
                (click)="loginWithSocialAuth('google', 'loginForm')"
              >
                <img
                  src="../../../assets/images/G.svg"
                  alt="Google"
                  class="mr-3"
                />
                Sign in with Google
              </button>
            </div>
            <div class="col-12">
              <button class="blue-btn btn btn ft-norms mt-3 btn-block">
                <img
                  src="../../../assets/images/bx_bxl-facebook.svg"
                  alt="facebook"
                  class="mr-3"
                />
                Sign in with Facebook
              </button>
            </div>
          </div>
        </div>
        <p class="mb-0 ban-sub ft-norms text-center px-4 pb-4">
          Registering with a social profile is quick. You don’t need an
          additional password
        </p>
      </div>
      <div class="card mt-3 p-4">
        <h4 class="text-center ft-norms drop-head mb-3">
          Log in with your email address
        </h4>

        <form [formGroup]="loginForm" (ngSubmit)="submitLoginForm()">
          <div class="form-group">
            <label for="email" id="exampleInputLoginEmail1" class="sr-only"
              >Email</label
            >
            <input
              type="email"
              class="form-control input-form"
              id="exampleInputLoginEmail1"
              formControlName="email"
              aria-describedby="emailHelp"
              placeholder="Your e-mail address"
            />
          </div>
          <div class="form-group">
            <label for="password" class="sr-only">Password</label>
            <input
              [type]="passwordType ? 'text' : 'password'"
              class="form-control input-form"
              formControlName="password"
              id="password"
              placeholder="Password (at least 6 characters)"
            />
            <span class="eye-container" (click)="showPassword()">
              <!-- <img
                *ngIf="!showText"
                src="../../../assets/images/ant-design_eye-filled.svg"
                alt="view"
                class="pointer show-password-3"
              /> -->
              <i
                *ngIf="!showText"
                class="text-success show-password-5 fa fa-eye-slash"
              ></i>
              <i
                *ngIf="showText"
                class="text-success show-password-5 fa fa-eye"
              ></i>
            </span>
          </div>
          <div class="row">
            <div class="col-12">
              <button
                class="green-btn btn ft-norms btn-block"
                [disabled]="loginForm.invalid || isLoading"
                type="submit"
              >
                Log In
                <span class="mr-2" *ngIf="isLoading">
                  <i class="fa fa-spinner fa-spin"></i>
                </span>
              </button>
            </div>
            <div class="col-12">
              <button class="forgot-btn btn ft-norms mt-3 btn-block">
                Forgot Password?
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- register Modal -->
<div
  class="modal fade"
  id="registerModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-note-2">
    <div class="modal-content modal-login">
      <div class="card">
        <div class="modal-header mb-2 d-block text-center">
          <h4 class="font-weight-bold drop-head mb-0">
            Register with social account
          </h4>
          <button
            type="button"
            class="close modal-close"
            id="registerModalCloseBtn"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="p-4">
          <!-- <div class="row mb-3 px-5">
            <div class="col-6 pr-0">
              <button
                (click)="selectActiveBtn(true)"
                [ngClass]="{ 'active-btn': activeBtn === true }"
                class="trans-btn-2 customer-btn btn f-14 ft-norms btn-block"
              >
                Customer
              </button>
            </div>
            <div class="col-6 pl-0">
              <button
                class="vendor-btn customer-alt btn f-14 ft-norms btn-block"
                (click)="selectActiveBtn(false)"
                [ngClass]="{ 'active-btn': activeBtn === false }"
              >
                Vendor
              </button>
            </div>
          </div> -->
          <div class="row">
            <div class="col-12">
              <button
                class="trans-btn btn ft-norms btn-block"
                (click)="loginWithSocialAuth('google', 'regForm')"
              >
                <img src="../../../assets/images/G.svg" alt="G" class="mr-3" />
                Sign in with Google
              </button>
            </div>
            <div class="col-12">
              <button class="blue-btn btn ft-norms mt-3 btn-block">
                <img
                  src="../../../assets/images/bx_bxl-facebook.svg"
                  alt="facebook"
                  class="mr-3"
                />
                Sign in with Facebook
              </button>
            </div>
          </div>
        </div>
        <p class="mb-0 ban-sub ft-norms text-center px-4 pb-4">
          Registering with a social profile is quick. You don’t need an
          additional password
        </p>
      </div>
      <div class="card mt-3 p-4">
        <h4 class="text-center ft-norms drop-head mb-3">
          Register with your email address
        </h4>

        <form [formGroup]="signUpForm" (ngSubmit)="submitSignUpForm()">
          <div class="form-group">
            <label for="email" id="exampleInputEmail1" class="sr-only"
              >Email</label
            >
            <input
              type="email"
              class="form-control input-form"
              id="exampleInputEmail1"
              formControlName="email"
              aria-describedby="emailHelp"
              placeholder="Your e-mail address"
            />
          </div>
          <div class="form-group">
            <label for="firstname" class="sr-only">First Name</label>
            <input
              type="text"
              class="form-control input-form"
              id="firstname"
              formControlName="firstname"
              aria-describedby="firstnameHelp"
              placeholder="First name"
            />
          </div>
          <div class="form-group">
            <label for="lastname" class="sr-only">Last Name</label>
            <input
              type="text"
              class="form-control input-form"
              id="lastname"
              formControlName="lastname"
              aria-describedby="surnameHelp"
              placeholder="surname"
            />
          </div>
          <div class="form-group">
            <label for="regpassword" class="sr-only">Password</label>
            <input
              [type]="passwordType ? 'text' : 'password'"
              class="form-control input-form"
              formControlName="password"
              id="regpassword"
              placeholder="Password (at least 6 characters)"
            />
            <span class="eye-container" (click)="showPassword()">
              <!-- <img
                *ngIf="!showText"
                src="../../../assets/images/ant-design_eye-filled.svg"
                alt="view"
                class="pointer show-password-3"
              /> -->
              <i
                *ngIf="!showText"
                class="text-success show-password-5 fa fa-eye-slash"
              ></i>
              <i
                *ngIf="showText"
                class="text-success show-password-5 fa fa-eye"
              ></i>
            </span>
          </div>
          <div class="form-group">
            <label for="phonenumber" class="sr-only">Phone Number</label>
            <input
              type="text"
              class="form-control input-form"
              id="phonenumber"
              formControlName="phoneno"
              aria-describedby="phonenumberHelp"
              placeholder="Phone Number"
            />
          </div>
          <div class="form-group form-check">
            <input
              type="checkbox"
              class="form-check-input"
              id="exampleCheck1"
            />
            <label class="form-check-label ban-sub ft-norms" for="exampleCheck1"
              >I want to receive Aduaba Fresh newsletters with best deals and
              offers</label
            >
          </div>
          <div class="row">
            <div class="col-12">
              <button
                class="green-btn btn ft-norms btn-block"
                [disabled]="signUpForm.invalid"
                type="submit"
              >
                Create Account
                <span class="mr-2" *ngIf="isLoading">
                  <i class="fa fa-spinner fa-spin"></i>
                </span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<button
  data-target="#confirmEmailModal"
  data-toggle="modal"
  id="openConfirmEmailModal"
  style="display: none"
></button>

<div
  class="modal fade"
  id="confirmEmailModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-note-1">
    <div class="modal-content modal-login">
      <div class="card">
        <div class="modal-header border-0">
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            id="confirmEmailModalCloseBtn"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row px-4">
            <div class="col-12 text-center">
              <img src="../../../assets/images/aduba-freshlogo.png" alt="" />
              <h5 class="font-weight-bold my-3">Email Confirmation</h5>
              <p class="ft-norms">
                Thank you for signing up! <br />
                Please check your email to complete your registration.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="cartModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-note">
    <div class="modal-content modal-login">
      <div class="card">
        <div class="modal-header">
          <p class="modal-heading-text mb-1">Delete From Cart</p>
          <button
            type="button"
            class="close"
            id="cartModalCloseBtn"
            data-dismiss="modal"
            aria-label="Close"
          >
            <i class="fa fa-close text-secondary"></i>
          </button>
        </div>
        <div class="container-fluid">
          <div class="row py-4">
            <div class="col-12">
              <p class="f-14 ft-norms mb-1">
                Are you sure you want to remove
                <span class="font-weight-bold">
                  {{ selectedProduct?.product_name }}</span
                >
                from your cart?
              </p>
            </div>
            <div class="col-md-6"></div>
            <div class="col-md-6"></div>
          </div>

          <div class="mb-3">
            <button
              type="button"
              class="btn btn-block btn-outline-dark"
              data-dismiss="modal"
            >
              Close
            </button>
            <button
              type="button"
              class="btn btn-block cart-checkout-btn"
              (click)="
                deleteItemFromCart(selectedProduct, selectedProductIndex)
              "
            >
              Yes, remove
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
