<section>
  <div class="container">
    <img
      src="../../../assets/images/anniversary.svg"
      alt="advert"
      class="mt-1 w-100"
    />

    <!-- BREADCRUM STARTS HERE -->
    <div class="col-12 p-0">
      <section class="d-none d-md-block">
        <div class="breadcrumbs">
          <div class="row">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                  Raw Products
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </section>
    </div>
    <!-- BREADCRUM ENDS HERE -->
  </div>
  <div class="container">
    <div class="row mt-5 mb-3">
      <div class="col-6 text-left">
        <p class="ft-norms feat">Raw Products</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 mb-3">
        <div class="dropdown">
          <button
            class="trans-btn btn btn ft-norms mb-4"
            type="button"
            id="dropdownMenu2"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Sort By: Lowest to Highest
            <img
              src="../../../assets/images/arrow-down.svg"
              alt="arrow-down"
              class="ml-1"
            />
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <button class="dropdown-item" type="button">Action</button>
            <button class="dropdown-item" type="button">Another action</button>
            <button class="dropdown-item" type="button">
              Something else here
            </button>
          </div>
        </div>

        <div class="row">
          <div class="col-8">
            <p class="ft-norms categories mb-0">Categories</p>
          </div>
          <div class="col-4 text-left">
            <img
              src="../../../assets/images/arrow-up.svg"
              alt="arrow-up"
              class="pointer"
            />
          </div>
        </div>
        <div class="form-group form-check mt-3 mb-3">
          <input type="checkbox" class="form-check-input" id="rawFoods" />
          <label class="form-check-label cat-label" for="rawFoods"
            >Raw Foods</label
          >
        </div>
        <div class="form-group form-check mt-3 mb-3">
          <input type="checkbox" class="form-check-input" id="spices" />
          <label class="form-check-label cat-label" for="spices">Spices</label>
        </div>
        <div class="form-group form-check mt-3 mb-3">
          <input type="checkbox" class="form-check-input" id="cosmetics" />
          <label class="form-check-label cat-label" for="cosmetics"
            >Cosmetics</label
          >
        </div>
        <div class="form-group form-check mt-3 mb-3">
          <input type="checkbox" class="form-check-input" id="fruits" />
          <label class="form-check-label cat-label" for="fruits"
            >Fruits & Vegetables</label
          >
        </div>
        <div class="form-group form-check mt-3 mb-3">
          <input type="checkbox" class="form-check-input" id="herbs" />
          <label class="form-check-label cat-label" for="herbs"
            >Herbs & Roots</label
          >
        </div>
        <div class="form-group form-check mt-3 mb-3">
          <input type="checkbox" class="form-check-input" id="oils" />
          <label class="form-check-label cat-label" for="oils">Oils</label>
        </div>
        <div class="row">
          <div class="col-8">
            <p class="ft-norms categories mb-0">Vendors</p>
          </div>
          <div class="col-4 text-left">
            <img
              src="../../../assets/images/arrow-up.svg"
              alt="arrow-up"
              class="pointer"
            />
          </div>
        </div>
        <div class="form-group form-check mt-3 mb-3">
          <input type="checkbox" class="form-check-input" id="rawFoods" />
          <label class="form-check-label cat-label" for="rawFoods"
            >Raw Foods</label
          >
        </div>
        <div class="form-group form-check mt-3 mb-3">
          <input type="checkbox" class="form-check-input" id="chefsQuality" />
          <label class="form-check-label cat-label" for="chefsQuality"
            >Chef's Quality</label
          >
        </div>
        <div class="form-group form-check mt-3 mb-3">
          <input type="checkbox" class="form-check-input" id="chi" />
          <label class="form-check-label cat-label" for="chi">Chi</label>
        </div>
        <div class="form-group form-check mt-3 mb-3">
          <input type="checkbox" class="form-check-input" id="countryTime" />
          <label class="form-check-label cat-label" for="countryTime"
            >Country Time</label
          >
        </div>
        <div class="form-group form-check mt-3 mb-3">
          <input type="checkbox" class="form-check-input" id="dunnEdwards" />
          <label class="form-check-label cat-label" for="dunnEdwards"
            >Dunn Edwards</label
          >
        </div>
        <div class="form-group form-check mt-3 mb-3">
          <input type="checkbox" class="form-check-input" id="epath" />
          <label class="form-check-label cat-label" for="epath">Epath</label>
        </div>
        <div class="form-group form-check mt-3 mb-3">
          <input
            type="checkbox"
            class="form-check-input"
            id="EmmanuelProduce"
          />
          <label class="form-check-label cat-label" for="EmmanuelProduce"
            >Emmanuel Produce</label
          >
        </div>
        <div class="row mb-3">
          <div class="col-8">
            <p class="ft-norms categories mb-0">Price</p>
          </div>
          <div class="col-4 text-left"></div>
        </div>
        <div class="row mb-3">
          <div class="col-5">
            <div class="form-group">
              <input type="number" class="range form-control" id="start" />
            </div>
          </div>
          <div class="col-2">
            <hr class="range-line" />
          </div>
          <div class="col-5">
            <div class="form-group">
              <input type="number" class="range form-control" id="end" />
            </div>
          </div>
        </div>
        <div class="card green-card mb-3">
          <div class="p-3">
            <p class="ft-norms text-left green-sub mb-0">Healthy</p>
            <p class="ft-norms text-center green-head mb-0">Vegetables</p>
            <p class="ft-norms text-right green-sub mb-0">seasonal</p>
          </div>
          <div class="text-center">
            <img
              src="../../../assets/images/lady-fruit.svg"
              alt="lady"
              class="lady"
            />
          </div>
        </div>
        <div class="card green-card mb-3">
          <div class="p-3">
            <p class="ft-norms text-left green-sub mb-0">Healthy</p>
            <p class="ft-norms text-center green-head mb-0">Vegetables</p>
            <p class="ft-norms text-right green-sub mb-0">seasonal</p>
          </div>
          <div class="text-center">
            <img
              src="../../../assets/images/lady-fruit.svg"
              alt="lady"
              class="lady"
            />
          </div>
        </div>
      </div>
      <div class="col-md-9 mb-3">
        <div class="row mb-4">
          <div class="col-12 text-right">
            <span class="ft-norms items">Items 1-35 of 61</span>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-4">
            <span class="in-stock mb-2">In Stock</span>
            <div class="card mt-4 product-card" style="">
              <div class="image-cover text-center">
                <img
                  class="card-img-top"
                  src="../../../assets/images/stock.svg"
                  alt="pineapple"
                />
              </div>
              <div class="card-body card-butt">
                <h5 class="ft-norms prod-name">
                  Herbsconnect Organic Acai Berry Powder Freeze Dried
                </h5>
                <p class="ft-norms prod-vendor">Emmanuel Produce</p>

                <div class="row mt-3">
                  <div class="col-6">
                    <p class="ft-norms org-price text-left">
                      &#8373; 40,000.00
                    </p>
                  </div>
                  <div class="col-6">
                    <p class="ft-norms former-price text-left">
                      &#8373; 40,000.00
                    </p>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-9">
                    <button class="green-tans-btn btn btn-2 ft-norms">
                      Add to Cart
                    </button>
                  </div>
                  <div class="col-3 text-right align-self-center">
                    <img
                      src="../../../assets/images/like2.svg"
                      alt="whishlist"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <span class="in-stock mb-2">In Stock</span>
            <div class="card mt-4 product-card" style="">
              <div class="image-cover text-center">
                <img
                  class="card-img-top"
                  src="../../../assets/images/nuts.svg"
                  alt="pineapple"
                />
              </div>
              <div class="card-body card-butt">
                <h5 class="ft-norms prod-name">
                  Herbsconnect Organic Acai Berry Powder Freeze Dried
                </h5>
                <p class="ft-norms prod-vendor">Emmanuel Produce</p>

                <div class="row mt-3">
                  <div class="col-6">
                    <p class="ft-norms org-price text-left">
                      &#8373; 78,000.00
                    </p>
                  </div>
                  <div class="col-6">
                    <p class="ft-norms former-price text-left">
                      &#8373; 90,000.00
                    </p>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-9">
                    <button class="green-tans-btn btn btn-2 ft-norms">
                      Add to Cart
                    </button>
                  </div>
                  <div class="col-3 text-right align-self-center">
                    <img
                      src="../../../assets/images/like2.svg"
                      alt="whishlist"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <span class="in-stock mb-2">In Stock</span>
            <div class="card mt-4 product-card" style="">
              <div class="image-cover text-center">
                <img
                  class="card-img-top"
                  src="../../../assets/images/green-milk.svg"
                  alt="pineapple"
                />
              </div>
              <div class="card-body card-butt">
                <h5 class="ft-norms prod-name">
                  Herbsconnect Organic Acai Berry Powder Freeze Dried
                </h5>
                <p class="ft-norms prod-vendor">Emmanuel Produce</p>

                <div class="row mt-3">
                  <div class="col-6">
                    <p class="ft-norms org-price text-left">&#8373; 4,000.00</p>
                  </div>
                  <div class="col-6">
                    <p class="ft-norms former-price text-left">
                      &#8373; 4,000.00
                    </p>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-9">
                    <button class="green-tans-btn btn btn-2 ft-norms">
                      Add to Cart
                    </button>
                  </div>
                  <div class="col-3 text-right align-self-center">
                    <img
                      src="../../../assets/images/like.svg"
                      alt="whishlist"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <span class="in-stock mb-2">In Stock</span>
            <div class="card mt-4 product-card" style="">
              <div class="image-cover text-center">
                <img
                  class="card-img-top"
                  src="../../../assets/images/meat.svg"
                  alt="pineapple"
                />
              </div>
              <div class="card-body card-butt">
                <h5 class="ft-norms prod-name">
                  Herbsconnect Organic Acai Berry Powder Freeze Dried
                </h5>
                <p class="ft-norms prod-vendor">Emmanuel Produce</p>

                <div class="row mt-3">
                  <div class="col-6">
                    <p class="ft-norms org-price text-left">&#8373; 4,000.00</p>
                  </div>
                  <div class="col-6">
                    <p class="ft-norms former-price text-left">
                      &#8373; 4,000.00
                    </p>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-9">
                    <button class="green-tans-btn btn btn-2 ft-norms">
                      Add to Cart
                    </button>
                  </div>
                  <div class="col-3 text-right align-self-center">
                    <img
                      src="../../../assets/images/like2.svg"
                      alt="whishlist"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <span class="in-stock mb-2">In Stock</span>
            <div class="card mt-4 product-card" style="">
              <div class="image-cover text-center">
                <img
                  class="card-img-top"
                  src="../../../assets/images/shell.svg"
                  alt="pineapple"
                />
              </div>
              <div class="card-body card-butt">
                <h5 class="ft-norms prod-name">
                  Herbsconnect Organic Acai Berry Powder Freeze Dried
                </h5>
                <p class="ft-norms prod-vendor">Emmanuel Produce</p>

                <div class="row mt-3">
                  <div class="col-6">
                    <p class="ft-norms org-price text-left">
                      &#8373; 35,000.00
                    </p>
                  </div>
                  <div class="col-6">
                    <p class="ft-norms former-price text-left">
                      &#8373; 40,000.00
                    </p>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-9">
                    <button class="green-tans-btn btn btn-2 ft-norms">
                      Add to Cart
                    </button>
                  </div>
                  <div class="col-3 text-right align-self-center">
                    <img
                      src="../../../assets/images/like2.svg"
                      alt="whishlist"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <span class="in-stock mb-2">In Stock</span>
            <div class="card mt-4 product-card" style="">
              <div class="image-cover text-center">
                <img
                  class="card-img-top"
                  src="../../../assets/images/appleee.svg"
                  alt="pineapple"
                />
              </div>
              <div class="card-body card-butt">
                <h5 class="ft-norms prod-name">
                  Herbsconnect Organic Acai Berry Powder Freeze Dried
                </h5>
                <p class="ft-norms prod-vendor">Emmanuel Produce</p>

                <div class="row mt-3">
                  <div class="col-6">
                    <p class="ft-norms org-price text-left">
                      &#8373; 10,000.00
                    </p>
                  </div>
                  <div class="col-6">
                    <p class="ft-norms former-price text-left">
                      &#8373; 40,000.00
                    </p>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-9">
                    <button class="green-tans-btn btn btn-2 ft-norms">
                      Add to Cart
                    </button>
                  </div>
                  <div class="col-3 text-right align-self-center">
                    <img
                      src="../../../assets/images/like.svg"
                      alt="whishlist"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <img
          src="../../../assets/images/ad-1.svg"
          alt="add"
          class="w-100 mt-3 mb-3"
        />
        <div class="row mt-3">
          <div class="col-md-4">
            <span class="in-stock mb-2">In Stock</span>
            <div class="card mt-4 product-card" style="">
              <div class="image-cover text-center">
                <img
                  class="card-img-top"
                  src="../../../assets/images/meat.svg"
                  alt="pineapple"
                />
              </div>
              <div class="card-body card-butt">
                <h5 class="ft-norms prod-name">
                  Herbsconnect Organic Acai Berry Powder Freeze Dried
                </h5>
                <p class="ft-norms prod-vendor">Emmanuel Produce</p>

                <div class="row mt-3">
                  <div class="col-6">
                    <p class="ft-norms org-price text-left">&#8373; 4,000.00</p>
                  </div>
                  <div class="col-6">
                    <p class="ft-norms former-price text-left">
                      &#8373; 4,000.00
                    </p>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-9">
                    <button class="green-tans-btn btn btn-2 ft-norms">
                      Add to Cart
                    </button>
                  </div>
                  <div class="col-3 text-right align-self-center">
                    <img
                      src="../../../assets/images/like2.svg"
                      alt="whishlist"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <span class="in-stock mb-2">In Stock</span>
            <div class="card mt-4 product-card" style="">
              <div class="image-cover text-center">
                <img
                  class="card-img-top"
                  src="../../../assets/images/shell.svg"
                  alt="pineapple"
                />
              </div>
              <div class="card-body card-butt">
                <h5 class="ft-norms prod-name">
                  Herbsconnect Organic Acai Berry Powder Freeze Dried
                </h5>
                <p class="ft-norms prod-vendor">Emmanuel Produce</p>

                <div class="row mt-3">
                  <div class="col-6">
                    <p class="ft-norms org-price text-left">
                      &#8373; 35,000.00
                    </p>
                  </div>
                  <div class="col-6">
                    <p class="ft-norms former-price text-left">
                      &#8373; 40,000.00
                    </p>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-9">
                    <button class="green-tans-btn btn btn-2 ft-norms">
                      Add to Cart
                    </button>
                  </div>
                  <div class="col-3 text-right align-self-center">
                    <img
                      src="../../../assets/images/like2.svg"
                      alt="whishlist"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <span class="in-stock mb-2">In Stock</span>
            <div class="card mt-4 product-card" style="">
              <div class="image-cover text-center">
                <img
                  class="card-img-top"
                  src="../../../assets/images/appleee.svg"
                  alt="pineapple"
                />
              </div>
              <div class="card-body card-butt">
                <h5 class="ft-norms prod-name">
                  Herbsconnect Organic Acai Berry Powder Freeze Dried
                </h5>
                <p class="ft-norms prod-vendor">Emmanuel Produce</p>

                <div class="row mt-3">
                  <div class="col-6">
                    <p class="ft-norms org-price text-left">
                      &#8373; 10,000.00
                    </p>
                  </div>
                  <div class="col-6">
                    <p class="ft-norms former-price text-left">
                      &#8373; 40,000.00
                    </p>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-9">
                    <button class="green-tans-btn btn btn-2 ft-norms">
                      Add to Cart
                    </button>
                  </div>
                  <div class="col-3 text-right align-self-center">
                    <img
                      src="../../../assets/images/like.svg"
                      alt="whishlist"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-4">
            <span class="in-stock mb-2">In Stock</span>
            <div class="card mt-4 product-card" style="">
              <div class="image-cover text-center">
                <img
                  class="card-img-top"
                  src="../../../assets/images/meat.svg"
                  alt="pineapple"
                />
              </div>
              <div class="card-body card-butt">
                <h5 class="ft-norms prod-name">
                  Herbsconnect Organic Acai Berry Powder Freeze Dried
                </h5>
                <p class="ft-norms prod-vendor">Emmanuel Produce</p>

                <div class="row mt-3">
                  <div class="col-6">
                    <p class="ft-norms org-price text-left">&#8373; 4,000.00</p>
                  </div>
                  <div class="col-6">
                    <p class="ft-norms former-price text-left">
                      &#8373; 4,000.00
                    </p>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-9">
                    <button class="green-tans-btn btn btn-2 ft-norms">
                      Add to Cart
                    </button>
                  </div>
                  <div class="col-3 text-right align-self-center">
                    <img
                      src="../../../assets/images/like2.svg"
                      alt="whishlist"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <span class="in-stock mb-2">In Stock</span>
            <div class="card mt-4 product-card" style="">
              <div class="image-cover text-center">
                <img
                  class="card-img-top"
                  src="../../../assets/images/shell.svg"
                  alt="pineapple"
                />
              </div>
              <div class="card-body card-butt">
                <h5 class="ft-norms prod-name">
                  Herbsconnect Organic Acai Berry Powder Freeze Dried
                </h5>
                <p class="ft-norms prod-vendor">Emmanuel Produce</p>

                <div class="row mt-3">
                  <div class="col-6">
                    <p class="ft-norms org-price text-left">
                      &#8373; 35,000.00
                    </p>
                  </div>
                  <div class="col-6">
                    <p class="ft-norms former-price text-left">
                      &#8373; 40,000.00
                    </p>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-9">
                    <button class="green-tans-btn btn btn-2 ft-norms">
                      Add to Cart
                    </button>
                  </div>
                  <div class="col-3 text-right align-self-center">
                    <img
                      src="../../../assets/images/like2.svg"
                      alt="whishlist"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <span class="in-stock mb-2">In Stock</span>
            <div class="card mt-4 product-card" style="">
              <div class="image-cover text-center">
                <img
                  class="card-img-top"
                  src="../../../assets/images/appleee.svg"
                  alt="pineapple"
                />
              </div>
              <div class="card-body card-butt">
                <h5 class="ft-norms prod-name">
                  Herbsconnect Organic Acai Berry Powder Freeze Dried
                </h5>
                <p class="ft-norms prod-vendor">Emmanuel Produce</p>

                <div class="row mt-3">
                  <div class="col-6">
                    <p class="ft-norms org-price text-left">
                      &#8373; 10,000.00
                    </p>
                  </div>
                  <div class="col-6">
                    <p class="ft-norms former-price text-left">
                      &#8373; 40,000.00
                    </p>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-9">
                    <button class="green-tans-btn btn btn-2 ft-norms">
                      Add to Cart
                    </button>
                  </div>
                  <div class="col-3 text-right align-self-center">
                    <img
                      src="../../../assets/images/like.svg"
                      alt="whishlist"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr class="line mt-3 mb-3" />
      </div>
    </div>
  </div>
</section>
