<app-loader></app-loader>
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7 login-pad fruit-bg">
        <div class="down">
          <h3 class="text-left ban-header text-light">ADUABA FRESH</h3>
          <p class="ft-norms faint-sub text-left text-light">
            Live Healthy with Fresh Organic Products Everyday!
          </p>
          <img src="../../../assets/images/color line.png" alt="color" />
        </div>
      </div>
      <div class="col-md-5">
        <form
          [formGroup]="forgotPasswordForm"
          class="row"
          (ngSubmit)="submit()"
        >
          <div class="col-8 offset-2">
            <div class="py-5">
              <div class="d-flex justify-content-end">
                <img
                  src="../../../assets/images/verify-logo.svg"
                  alt="Aduaba"
                  class="text-left"
                />
              </div>
              <h5 class="font-weight-medium ban-header text-left mt-5">
                Forgot Password
              </h5>
              <p class="ft-norms mb-5">
                Enter your email address to get a reset URL via email.
              </p>
              <div>
                <div class="form-group mt-3">
                  <label for="exampleInputEmail1 " class="input-label ft-norms"
                    >Email address</label
                  >
                  <input
                    type="email"
                    formControlName="email"
                    class="form-control input-form w-100"
                    id="exampleInputEmail1 "
                    aria-describedby="emailHelp"
                    placeholder="Enter email"
                  />
                </div>
                <button
                  class="green-btn btn btn-block ft-norms mb-3"
                  [disabled]="forgotPasswordForm.invalid"
                >
                  Submit
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
