.login-pad {
  padding-left: 5rem;
  padding-right: 5rem;
  height: 100vh;
}
.eye {
  position: absolute;
  top: 68%;
  right: 15%;
}
.down {
  position: absolute;
  top: 79%;
}

.ban-header {
  font-family: "TT Norms Regular", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 2rem;
  line-height: 38px;
  color: #10151a;
}

::placeholder {
  font-family: "TT Norms Regular", sans-serif;
}

.fruit-bg {
  background-image: url(../../../assets/images/plentyfruits.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.input-label {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #10151a;
}
.pointer {
  cursor: pointer;
}

::placeholder {
  font-family: "TT Norms Regular", sans-serif;
}

@media screen and (max-width: 768px) {
  .login-pad {
    padding-left: 14px;
    padding-right: 14px;
  }
}
