.grey-bg {
  background: #e5e5e5;
}
.bill-card {
  background: #ffffff;
  border-radius: 8px;
}
.fade {
  opacity: 0.65;
}
.dets-price {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;

  color: #3c673d;
}
.pro-link-3 {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 145%;
  font-family: "TT Norms Pro regular";
  color: #999999;
}
.dev-date {
  background: #f1f2f6;
  border-radius: 6px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  text-align: center;

  color: #10151a;
}
.line-dash {
  border: 1px solid #10151a;
}

::placeholder {
  font-family: "TT Norms Pro regular";
}

.feat {
  font-size: 1.5rem;
  font-family: "TT Norms Pro medium";
}
