<section class="container">
  <div class="row py-5">
    <div class="col-md-8 offset-md-2">
      <h3 class="font-weight-medium my-3">About Us</h3>
    </div>
    <div class="col-md-8 offset-md-2">
      <p class="ft-norms">
        "Aduaba Fresh" is inspired by the philosophy that living on healthy
        foods should never be a burden. It is an on-demand app where Fresh
        fruits, vegetables and healthy meals can be easily sourced and delivered
        to support a healthy lifestyle.
      </p>

      <p class="ft-norms">
        Aduaba Fresh is your one stop shop for all your fruits, vegetables and
        nutty needs, our promise is to always deliver these products to you
        fast, fresh and at the right price. Aduaba Fresh supports all your
        healthy lifestyle needs and also provides a host of resources to ensure
        you maintain that lifestyle.
      </p>

      <p class="ft-norms">
        Beyond these fresh produces, we also have an inventory of grab and go
        meals like salads, fresh wraps, fresh juices, soups, grilled chicken,
        grilled fish for our on-the-go customers. We use the city as your
        warehouse and we always ensure that we don't take a lot to deliver your
        items to you whenever you need them and in the right conditions.
      </p>
      <p>
        Our services can be accessed by downloading the "Aduaba Fresh" mobile
        app on the Apple and Android play store.
      </p>
    </div>
  </div>
</section>
