<app-loader></app-loader>
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7 login-pad fruit-bg">
        <div class="down">
          <h3 class="text-left ban-header text-light">ADUABA FRESH</h3>
          <p class="ft-norms faint-sub text-left text-light">
            Live Healthy with Fresh Organic Products Everyday!
          </p>
          <img src="../../../assets/images/color line.png" alt="color" />
        </div>
      </div>
      <div class="col-md-5">
        <form [formGroup]="createNewPassword" class="row" (ngSubmit)="submit()">
          <div class="col-8 offset-2">
            <div class="py-5">
              <div class="d-flex justify-content-end">
                <img
                  src="../../../assets/images/verify-logo.svg"
                  alt="Aduaba"
                  class="text-left pointer"
                  routerLink="/"
                />
              </div>
              <h5 class="font-weight-medium ban-header text-left mt-5">
                Reset Password
              </h5>
              <p class="ft-norms mb-3">Create Your New Password</p>
              <div>
                <div class="form-group mt-3">
                  <label for="exampleInputEmail1 " class="input-label ft-norms"
                    >Email address</label
                  >
                  <input
                    type="email"
                    formControlName="email"
                    class="form-control input-form w-100"
                    id="exampleInputEmail1 "
                    aria-describedby="emailHelp"
                    placeholder="Enter email"
                  />
                </div>

                <div class="form-group mt-3">
                  <label for="password">New Password</label>
                  <input
                    type="password"
                    formControlName="password"
                    placeholder="Enter new password"
                    class="form-control input-form w-100"
                    id="password"
                  />

                  <span
                    class="text-danger"
                    *ngIf="createNewPassword.controls?.password?.touched"
                  >
                    <small
                      *ngIf="
                        createNewPassword.controls?.password?.hasError(
                          'required'
                        )
                      "
                      class="d-block"
                      >New password field is required</small
                    >
                  </span>
                </div>

                <div class="form-group mt-3">
                  <label for="password_confirmation">Repeat Password</label>
                  <input
                    type="password"
                    formControlName="password_confirmation"
                    class="form-control input-form w-100"
                    placeholder="Enter new password"
                    id="password_confirmation"
                  />
                  <span
                    class="text-danger"
                    *ngIf="
                      createNewPassword.controls?.password_confirmation?.touched
                    "
                  >
                    <small
                      *ngIf="
                        createNewPassword.controls?.password_confirmation?.hasError(
                          'required'
                        )
                      "
                      class="d-block"
                      >Repeat password field is required</small
                    >
                    <small
                      *ngIf="
                        createNewPassword.controls?.password_confirmation?.hasError(
                          'mustMatch'
                        )
                      "
                    >
                      Repeat password field must match New password field
                    </small>
                  </span>
                </div>
                <button
                  class="green-btn btn btn-block ft-norms my-3"
                  [disabled]="createNewPassword.invalid"
                >
                  Submit
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
