<!-- <app-loader *ngIf="isPageLoading"></app-loader> -->
<section class="acc-bg py-5">
  <div class="container">
    <div class="col-12 p-0">
      <section class="d-none d-md-block">
        <div class="breadcrumbs">
          <div class="row">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item">
                  <a routerLink="/">Home</a>
                </li>
                <li class="breadcrumb-item">
                  <a routerLink="/wishlist" routerLinkActive="active-link"
                    >Update Password</a
                  >
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </section>
    </div>
  </div>

  <div class="container mt-2 mb-5 py-3">
    <p class="font-weight-bold feat mb-3">My Dashboard</p>
    <div class="row">
      <div class="col-md-3 mb-3">
        <app-profile-sidebar></app-profile-sidebar>
      </div>
      <form
        [formGroup]="changePasswordForm"
        (ngSubmit)="submit()"
        class="col-md-9 mb-3"
      >
        <div class="card acc-card p-3 mb-3">
          <div class="row">
            <div class="col-md-12 align-self-center mb-3">
              <h4 class="w-heading font-weight-bold mb-0">Change Password</h4>
            </div>

            <div class="col-md-6 form-group">
              <label for="old_password">Old Password</label>
              <div class="input-group mb-3">
                <input
                  [type]="oldPasswordType ? 'text' : 'password'"
                  id="old_password"
                  formControlName="old_password"
                  class="form-control input-form-2"
                  placeholder="Enter your old password"
                  aria-label="old password"
                  aria-describedby="basic-addon2"
                />
                <span
                  class="input-group-text"
                  id="basic-addon2"
                  (click)="showOldPasswordText()"
                >
                  <i *ngIf="!showText" class="text-success fa fa-eye-slash"></i>
                  <i *ngIf="showText" class="text-success fa fa-eye"></i>
                </span>
              </div>
            </div>

            <div class="col-md-6"></div>

            <div class="col-md-6 form-group">
              <label for="new_password">New Password</label>
              <div class="input-group mb-3">
                <input
                  [type]="newPasswordType ? 'text' : 'password'"
                  id="old_password"
                  formControlName="password"
                  class="form-control input-form-2"
                  placeholder="Password (at least 6 characters)"
                  aria-label="new password"
                  aria-describedby="basic-addon3"
                />
                <span
                  class="input-group-text"
                  id="basic-addon2"
                  (click)="showNewPasswordText()"
                >
                  <i
                    *ngIf="!newShowText"
                    class="text-success fa fa-eye-slash"
                  ></i>
                  <i *ngIf="newShowText" class="text-success fa fa-eye"></i>
                </span>
              </div>
            </div>

            <div class="col-md-6"></div>
          </div>
        </div>

        <button
          class="btn mt-4 save-btn text-light ft-norms btn-block"
          [disabled]="changePasswordForm.invalid"
        >
          Update Password
          <span *ngIf="isPageLoading"
            ><i class="fa fa-spinner fa-spin"></i>
          </span>
        </button>
      </form>
    </div>
  </div>
</section>
