.side-link {
  color: #999999;
}

.active-link {
  font-family: "TT Norms Pro medium", sans-serif !important;
  color: #10151a;
}

.w-heading {
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.save-btn {
  background: #f2902f;
  border-radius: 5px;
}
